@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
  --primary: #ef5a22;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-primary: var(--font-hanken);
  --font-secondary: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-secondary);
}

.bg-grid {
  background-size: 40px 40px;
  background-image:
    repeating-linear-gradient(
      0deg,
      #fff,
      #fff 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      -90deg,
      #fff,
      #fff 1px,
      transparent 1px,
      transparent 40px
    );
  height: 100%;
  width: 100%;
  opacity: 0.14;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 63px;
}
.num {
  font-weight: 700;
  font-size: 32px;
  height: 36px;
  letter-spacing: 0px;
  color: var(--primary);
}

.name {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .stat {
    height: 48px;
  }
  .name {
    font-size: 10px;
    height: 20px;
  }
  .num {
    font-size: 24px;
    height: 26px;
  }
}

.footer-links-heading {
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-decoration: underline;
}
